/*  */
#section{
    width: 90vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    display: flex;
    /* justify-content: center; */
    /* margin: 15px; */
    /* width: 89%;
    height: 90% auto;
    margin: 2px;
    padding-left: 20%; */
}

#section img{
    /* width: 0%; */
    flex-grow: 1;
    object-fit: contain;
    opacity: .8;
    transition: .6s ease;
    gap: 1px;
    justify-content: center;
}  

#section img:hover{
    cursor: crosshair;
    width: 240px;
    opacity: .80;
    filter: contrast(120%);
    box-shadow:  0 0 100vmax rgba(118, 49, 124, 0.5);
}

@media screen and (max-width: 900px){
    #section{
        align-items: center;
        width: 10vw;
        flex-direction: column;
        /* margin-left: 50px; */
    }
    #section img{
        width: 80%;
    } 
    #section img:hover {
        cursor: crosshair;
        width: 90%;
        opacity: .8;
        filter: contrast(120%);
        box-shadow: 0 0 100vmax rgba(118, 49, 124, 0.5);
    }
}