.sobreMi{
    color: #fff;
    display: block;
    margin: 70px;

    
}
#section {
    width: 55vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;

}

.formacion {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .sobreMi{
        padding-bottom: 15px;
    }

}